---
import BlogPostListItem from "../components/blog-post-list-item.astro";
import BaseLayout from "../layouts/base-layout.astro";

const page_title = "My Astro Learning Blog";
const all_posts = await Astro.glob("../pages/posts/*.md");
---

<BaseLayout page_title={page_title}>
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    {
      all_posts.map((post) => (
        <BlogPostListItem
          url={post.url || "/"}
          title={post.frontmatter.title}
        />
      ))
    }
  </ul>
</BaseLayout>
